<ion-view title="Ahmed Working, Cairo" id="page16">
  <ion-content padding="true" class="has-header">
    <div id="ahmedWorkingCairo-button-bar3" class="button-bar">
      <button id="ahmedWorkingCairo-button11" class="button button-energized button-small button-block">Description</button>
      <button id="ahmedWorkingCairo-button12" class="button button-stable button-small button-block">Audio</button>
      <button id="ahmedWorkingCairo-button13" class="button button-stable button-small button-block">More</button>
    </div>
    <h3 id="ahmedWorkingCairo-heading9" style="color:#00859B;font-weight:600;">Ahmed Working, Cairo</h3>
    <div id="ahmedWorkingCairo-markdown29" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Massimiliano Fussari, 2013</p>
    </div>
    <div>
      <img src="img/8OHe3OfyQXpexJid1NbH_Bildschirmfoto2016-11-06um15.01.10.png" style="display: block; width: auto; height: 150px; margin-left: auto; margin-right: auto;">
    </div>
    <div id="ahmedWorkingCairo-markdown30" class="show-list-numbers-and-dots">
      <p style="color:#000000;">From its origins in Finsbury Circus as the School of Oriental Studies in 1916 to the School of Oriental and African Studies in Bloomsbury, SOAS became a vital centre for language tuition through two world wars, contributing essential work Ikat is
        a specialized dyeing technique. The textiles on display have recorded a wonderful vernacular art, as Embroidered Tales, told by women story tellers - who were, guardians of their customs and traditions, for their individual tribes, castes and
        communities.</p>
    </div>
  </ion-content>
</ion-view>