<ion-view title="All Current SOAS Exhibitions" id="page8">
  <ion-content padding="true" class="has-header">
    <h3 id="allCurrentSOASExhibitions-heading3" style="color:#F2A900;font-weight:600;">Current Exhibitions</h3>
    <div id="allCurrentSOASExhibitions-container2">
      <h4 id="allCurrentSOASExhibitions-heading4" style="color:#00859B;font-weight:600;">Academics, Agents &amp; Activists</h4>
    </div>
    <div id="allCurrentSOASExhibitions-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">A History of the School of Oriental and African Studies, 1916 - 2016</p>
    </div>
    <div id="allCurrentSOASExhibitions-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#63666A;">
        <strong>13 October - 17 December</strong>
      </p>
    </div>
    <div>
      <a style="display:block;" ui-sref="currentExhibition1">
        <img src="img/y7QpFxftSoCFLP8YMzT6_Bildschirmfoto2016-11-06um12.11.22.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <h4 id="allCurrentSOASExhibitions-heading5" style="color:#00859B;font-weight:600;">Celebrating Art and Music: The SOAS Collections</h4>
    <div id="allCurrentSOASExhibitions-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Centenary Celebration Exhibition. Curated by Anna Contadini</p>
    </div>
    <div id="allCurrentSOASExhibitions-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#63666A;">
        <strong>18 January - 25 March 2017</strong>
      </p>
    </div>
    <div>
      <a style="display:block;" ui-sref="currentExhibition2">
        <img src="img/bY2PFU5lSdEK7GyQXV1y_Bildschirmfoto2016-11-30um13.19.35.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
  </ion-content>
</ion-view>