<ion-view title="Buffo harpsichord" id="page33">
  <ion-content padding="true" class="has-header">
    <div id="buffoHarpsichord-button-bar11" class="button-bar">
      <button id="buffoHarpsichord-button48" class="button button-energized button-small button-block">Description</button>
      <button id="buffoHarpsichord-button49" class="button button-stable button-small button-block">Audio</button>
      <button id="buffoHarpsichord-button50" class="button button-stable button-small button-block">More</button>
    </div>
    <h3 id="buffoHarpsichord-heading31" style="color:#00859B;font-weight:600;">Buffo harpsichord</h3>
    <div id="buffoHarpsichord-markdown54" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Giovanni Antonio Buffo, Venice, Italy, 1574</p>
    </div>
    <div>
      <img src="img/ybyStKICQiutAOCS8IcG_images-2.jpg" style="display: block; width: auto; height: 150px; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div id="buffoHarpsichord-markdown55" class="show-list-numbers-and-dots">
      <p style="color:#000000;">This harpsichord was built by Giovanni Baffo, the leading maker of harpsichords in Venice, one of the main instrument-producing centres in Europe during the 16th century. The instrument is decorated with traditional Islamic patterns, then widely
        used in Venice, and also fashionable classical motifs, such as Apollo and the Muses, a suitable theme for musical instruments. This instrument has undergone a number of changes, including the altering of the range of the notes, a sign that even
        if musical fashions changed during the next century the prestige of Baffo's instruments remained intact.</p>
    </div>
  </ion-content>
</ion-view>