<ion-view title="Current Exhibition 2" id="page27">
  <ion-content padding="true" class="has-header">
    <h3 id="currentExhibition2-heading22" style="color:#00859B;font-weight:600;">Celebrating Art and Music: The SOAS Collections</h3>
    <div id="currentExhibition2-markdown39" class="show-list-numbers-and-dots">
      <p style="color:#000000;">The exhibition will examine the political upheavals, that destroyed the lives of these communities and their Nomadic, semi-nomadic, and settled lifestyles. </p>
    </div>
    <div id="currentExhibition2-markdown44" class="show-list-numbers-and-dots">
      <p style="color:#F2A900;">
        <strong>MORE</strong>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <div id="currentExhibition2-markdown45" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#63666A;font-size:17px;">
        <strong>Take a Quiz on the Exhibition</strong>
      </p>
    </div>
    <a ui-sref="exhibitionQuizHome" id="currentExhibition2-button31" style="border-radius:0px 0px 0px 0px;" class="button button-energized button-small button-block">Quiz!</a>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <ion-list id="currentExhibition2-list5">
      <ion-item class="item-thumbnail-left" id="currentExhibition2-list-item35" ui-sref="musicStandErardSebastian">
        <img src="img/tOmDuOQFSXOeWSxsEhnw_images-1.jpg">
        <h2>1. Music Stand, Erard Sebastian</h2>
        <p>Wood and metal frame, gilded and covered in printed paper imitating japanning, with brass telescopic support</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="currentExhibition2-list-item36" ui-sref="buffoHarpsichord">
        <img src="img/qWU1aaFKThGOuQwXUSjg_images-2.jpg">
        <h2>2. Buffo harpsichord</h2>
        <p>Giovanni Antonio Buffo, Venice, Italy, 1574</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="currentExhibition2-list-item37" ui-sref="guitar">
        <img src="img/YdtTtENQRmOu3l8j2azO_images-3.jpg">
        <h2>3. Guitar</h2>
        <p>English, Frederick Hintz, London, 1755-60</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="currentExhibition2-list-item38" ui-sref="indiaCitarPlater">
        <img src="img/xq7LTJg5QCykRbxKX5us_images.jpg">
        <h2>4. Indian Citar Player</h2>
        <p>Linnaeus Tripe Photography Exhibition</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>