<ion-view title="Current Exhibition 1" id="page14">
  <ion-content padding="true" class="has-header">
    <h3 id="currentExhibition1-heading2" style="color:#00859B;font-weight:600;">Academics, Agents &amp; Activists</h3>
    <div id="currentExhibition1-markdown24" class="show-list-numbers-and-dots">
      <p style="color:#000000;">A celebratory exhibition of a unique institution of higher education which presents the history of the School from a human perspective, and highlights SOAS’s wider impact on world history, scholarship, cultural preservation, politics, social development
        and the arts.</p>
    </div>
    <a ui-sref="shaoXiBuddha" id="currentExhibition1-button68" style="font-weight:600;text-align:left;" class="button button-energized button-small button-block button-clear">MORE</a>
    <div id="currentExhibition1-markdown25" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <div id="currentExhibition1-markdown37" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#63666A;font-size:17px;">
        <strong>Take a Quiz on the Exhibition</strong>
      </p>
    </div>
    <a ui-sref="exhibitionQuizHome" id="currentExhibition1-button17" style="border-radius:0px 0px 0px 0px;" class="button button-energized button-small button-block">Quiz!</a>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <ion-list id="currentExhibition1-list3">
      <ion-item class="item-thumbnail-left" id="currentExhibition1-list-item27" ui-sref="shaoXiBuddha">
        <img src="img/tTQ7nDdxS2SBvDo3XvF1_Bildschirmfoto2016-11-05um17.32.28Kopie.png">
        <h2>1. ShaoXi' Buddha Shanghai</h2>
        <p>Standing Buddha, carved in wood</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="currentExhibition1-list-item28" ui-sref="snowDome">
        <img src="img/keLK4xxmQ2q9XyliL8jA_Bildschirmfoto2016-11-06um14.05.46.png">
        <h2>2. Snow Dome</h2>
        <p>Hong Ling, 2002</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="currentExhibition1-list-item29" ui-sref="ahmedWorkingCairo">
        <img src="img/wH9DJkMJTKmU4PKuwklt_Bildschirmfoto2016-11-06um15.01.10.png">
        <h2>3. Ahmed Working, Cairo</h2>
        <p>Massimiliano Fussari, 2013</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="currentExhibition1-list-item30" ui-sref="theToolsOfTheTrade">
        <img src="img/4qXRBnIqR6qka4nIHrSJ_Bildschirmfoto2016-11-06um15.05.06.png">
        <h2>4. The Tools of the Trade</h2>
        <p>Wood workings from Asia in the 19th Century</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>