<ion-view title="End of Quiz" id="page24">
  <ion-content padding="true" class="has-header">
    <h4 id="endOfQuiz-heading21" style="color:#00859B;font-weight:600;">Thanks for taking the quiz!</h4>
    <div class="spacer" style="width: 300px; height: 75px;"></div>
    <div id="endOfQuiz-markdown21" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:38px;">Score: 3</p>
    </div>
    <div class="spacer" style="height: 100px;"></div>
    <div id="endOfQuiz-markdown20" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:22px;">You're
        <strong>an idiot/a genius</strong>!</p>
    </div>
    <div class="spacer" style="width: 300px; height: 106.974px;"></div>
    <a ui-sref="currentExhibition1" id="endOfQuiz-button32" class="button button-energized  button-block">Back to Exhibition</a>
  </ion-content>
</ion-view>