<ion-view title="Forthcoming Exhibition 1" id="page20">
  <ion-content padding="true" class="has-header">
    <h3 id="forthcomingExhibition1-heading16" style="color:#00859B;font-weight:600;">Embroidered Tales &amp; Woven Dreams</h3>
    <div id="forthcomingExhibition1-markdown41" class="show-list-numbers-and-dots">
      <p style="color:#000000;">The exhibition, ‘Embroidered Tales and Woven Dreams', is a colour-coded social history, of the vast and geographically varied landscape, known as the 'the Silk Road., The Seidenstrasse, a name given to this road, by the German explorer Richthofen,
        stretches from Central Asia to Western Europe.</p>
    </div>
    <div id="forthcomingExhibition1-markdown42" class="show-list-numbers-and-dots">
      <p style="color:#F2A900;">
        <strong>MORE</strong>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <div id="forthcomingExhibition1-markdown43" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#63666A;font-size:17px;">
        <strong>Take a Quiz on the Exhibition</strong>
      </p>
    </div>
    <button id="forthcomingExhibition1-button21" style="border-radius:0px 0px 0px 0px;" class="button button-energized button-small button-block">Quiz!</button>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <ion-list id="forthcomingExhibition1-list4">
      <ion-item class="item-thumbnail-left" id="forthcomingExhibition1-list-item31">
        <img src="img/XtZjgJdcRGKqliFJ4Mho_forthcoming_1.png">
        <h2>1. Bridal Quran cover </h2>
        <p>from Tharparkar in Sindh, Pakistan. 1915</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="forthcomingExhibition1-list-item32">
        <img src="img/36ylz9SlTjermCOTOuVJ_forthcoming_2.png">
        <h2>2. Embroidered prayer mat 1</h2>
        <p>from Afghanistan</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="forthcomingExhibition1-list-item33" ui-sref="ahmedWorkingCairo">
        <img src="img/wH9DJkMJTKmU4PKuwklt_Bildschirmfoto2016-11-06um15.01.10.png">
        <h2>3. Embroidered prayer mat 2</h2>
        <p>from Turkmenistan</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="forthcomingExhibition1-list-item34" ui-sref="theToolsOfTheTrade">
        <img src="img/L3QAYoRGRz2M5wCY1fVQ_forthcoming_4.png">
        <h2>4. Embroidered tales of village life</h2>
        <p>Wood workings from Asia in the 19th Century</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>