<ion-view title="Forthcoming Exhibitions" id="page18">
  <ion-content padding="true" class="has-header">
    <h3 id="forthcomingExhibitions-heading11" style="color:#F2A900;font-weight:600;">Forthcoming SOAS Exhibitions</h3>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <h4 id="forthcomingExhibitions-heading12" style="color:#00859B;font-weight:600;">Embroidered Tales &amp; Woven Dreams</h4>
    <div id="forthcomingExhibitions-markdown33" class="show-list-numbers-and-dots">
      <p style="color:#000000;">A colour-coded social history, of the vast and geographically varied landscape, known as the 'the Silk Road.</p>
    </div>
    <div id="forthcomingExhibitions-markdown34" class="show-list-numbers-and-dots">
      <p style="color:#63666A;">
        <strong>30 April - 9 June 2017</strong>
      </p>
    </div>
    <div>
      <a style="display:block;" ui-sref="forthcomingExhibition1">
        <img src="img/eCHqjHLfTwu2B4eEeWgu_Bildschirmfoto2016-11-30um14.38.06.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <h4 id="forthcomingExhibitions-heading23" style="color:#00859B;font-weight:600;">Architecture of Yemen</h4>
    <div id="forthcomingExhibitions-markdown46" class="show-list-numbers-and-dots">
      <p style="color:#000000;">This exhibition, with a series of related lectures will examine the immensely rich, culturally fascinating, identity of the Central Asian, Middle Eastern and South Asian landscapes, through the heritage of their Embroidered Textiles and Costumes.</p>
    </div>
    <div id="forthcomingExhibitions-markdown48" class="show-list-numbers-and-dots">
      <p style="color:#63666A;">
        <strong>12 July - 23 September 2017</strong>
      </p>
    </div>
    <div>
      <img src="img/C3QFNRTgeiYXSXUDemw2_articleLarge.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
  </ion-content>
</ion-view>