<ion-view title="India Citar Plater" id="page36">
  <ion-content padding="true" class="has-header">
    <div id="indiaCitarPlater-button-bar14" class="button-bar">
      <button id="indiaCitarPlater-button64" class="button button-energized button-small button-block">Description</button>
      <a ui-sref="musicStandAudio" id="indiaCitarPlater-button65" class="button button-stable button-small button-block">Audio</a>
      <a ui-sref="musicStandMore" id="indiaCitarPlater-button66" class="button button-stable button-small button-block">More</a>
    </div>
    <h3 id="indiaCitarPlater-heading34" style="color:#00859B;font-weight:600;">India Citar Player</h3>
    <div id="indiaCitarPlater-markdown63" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Linnaeus Tripe Photography Exhibition</p>
    </div>
    <div>
      <img src="img/BnRb2tXnSKaN2D0S0Kgo_images.jpg" style="display: block; width: auto; height: 150px; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div id="indiaCitarPlater-markdown64" class="show-list-numbers-and-dots">
      <p style="color:#000000;">The English guitar was in vogue from about 1750 until 1790. It was particularly popular among fashionable ladies who often preferred the version, like this one, that was fitted with piano-keys so as to preserve their nails from wire strings. Examples
        like this one were also tuned with a watch-key, most often in C major. The modern Portuguese guitar is descended from this type of instrument. This English guitar was made by Friederich Hintz (d. 1772), a German immigrant cabinetmaker, who specialised
        in making metal-inlaid furniture as well as musical instruments.</p>
    </div>
  </ion-content>
</ion-view>