<ion-view title="Music Stand Audio" id="page19">
  <ion-content padding="true" class="has-header">
    <div id="musicStandAudio-button-bar5" class="button-bar">
      <a ui-sref="musicStandErardSebastian" id="musicStandAudio-button18" class="button button-stable button-small button-block">Description</a>
      <a ui-sref="shaoXiBuddha" id="musicStandAudio-button19" class="button button-energized button-small button-block">Audio</a>
      <a ui-sref="musicStandMore" id="musicStandAudio-button20" class="button button-stable button-small button-block">More</a>
    </div>
    <h3 id="musicStandAudio-heading15" style="color:#00859B;font-weight:600;">Music Stand, Erard Sebastian</h3>
    <div id="musicStandAudio-markdown38" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Wood and metal frame, gilded and covered in printed paper imitating japanning, with brass telescopic support</p>
    </div>
    <div>
      <img src="img/P1MYgGOxRJKvs0m5NKlw_images-1.jpg" style="display: block; width: auto; height: 150px; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="musicStandAudio-markdown40" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Audioplayer</p>
    </div>
    <div>
      <img src="img/QJ3nMfD6TXuZo3OErJtJ_MoMA-AudioPlayerKopie.png" style="display: block; width: 100%; height: 60%; margin-left: auto; margin-right: auto;">
    </div>
    <div id="musicStandAudio-markdown53" class="show-list-numbers-and-dots"></div>
  </ion-content>
</ion-view>