<ion-view title="Music Stand, Erard Sebastian" id="page31">
  <ion-content padding="true" class="has-header">
    <div id="musicStandErardSebastian-button-bar9" class="button-bar">
      <button id="musicStandErardSebastian-button42" class="button button-energized button-small button-block">Description</button>
      <a ui-sref="musicStandAudio" id="musicStandErardSebastian-button43" class="button button-stable button-small button-block">Audio</a>
      <a ui-sref="musicStandMore" id="musicStandErardSebastian-button44" class="button button-stable button-small button-block">More</a>
    </div>
    <h3 id="musicStandErardSebastian-heading28" style="color:#00859B;font-weight:600;">Music Stand, Erard Sebastian</h3>
    <div id="musicStandErardSebastian-markdown50" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Wood and metal frame, gilded and covered in printed paper imitating japanning, with brass telescopic support</p>
    </div>
    <div>
      <img src="img/yzhMVLofTqiH7mDLyipY_images-1.jpg" style="display: block; width: auto; height: 150px; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div id="musicStandErardSebastian-markdown51" class="show-list-numbers-and-dots">
      <p style="color:#000000;">The firm of Erard, who made the stand, played an important part in the history of musical instruments. Sébastien Erard founded the firm in Paris in the 1770s. As the French Revolution unfolded in the 1780s and 1790s, his close relationship with
        the court of Louis XVI made it necessary for him to leave France. He moved to London, where he opened his business in 1792 at 18 Great Marlborough St, Soho. He was a prolific inventor and entrepreneur, developing the Double Action Harp (allowing
        it to play in many keys) in 1811 and patenting the double escapement piano (which allowed the hammer to leave the keys quickly so that they could vibrate) in 1824. Besides harps and pianos, the firm also sold cases, 'music desks', extra strings
        and at least two kinds of music stands: mahogany and 'japanned and gilded'.</p>
    </div>
  </ion-content>
</ion-view>