<ion-view title="Music Stand - More" id="page32">
  <ion-content padding="true" class="has-header">
    <div id="musicStandMore-button-bar10" class="button-bar">
      <a ui-sref="musicStandErardSebastian" id="musicStandMore-button45" class="button button-stable button-small button-block">Description</a>
      <a ui-sref="musicStandAudio" id="musicStandMore-button46" class="button button-stable button-small button-block">Audio</a>
      <button id="musicStandMore-button47" class="button button-energized button-small button-block">More</button>
    </div>
    <h3 id="musicStandMore-heading29" style="color:#00859B;font-weight:600;">Music Stand, Erard Sebastian</h3>
    <div id="musicStandMore-markdown52" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Wood and metal frame, gilded and covered in printed paper imitating japanning, with brass telescopic support</p>
    </div>
    <div ng-init="videourl=&quot;https://www.youtube.com/embed/https://www.youtube.com/watch?v=IwzFOf9eilQ?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="musicStandMore-video3">
      <iframe src="{{videourl}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <h3 id="musicStandMore-heading30" style="color:#63666A;">More on this</h3>
    <p>
      <a href="https://www.soas.ac.uk/gallery/embroidered-tales/">SOAS music collection</a>
      <br>
      <a href="http://www.w3schools.com/html/">Visit our HTML tutorial</a>
      <br>
    </p>
  </ion-content>
</ion-view>