<ion-view title="Opening Screen" hide-nav-bar="true" id="page10">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <div class="spacer" style="height: 150px;"></div>
    <div>
      <img src="img/KsyuRvExTfG5sMlB6wNq_blob" style="display: block; width: 40%; height: 50%; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="galleries" id="openingScreen-button1" style="font-size:-9px;" class="button button-energized button-small button-block">Enter!</a>
  </ion-content>
</ion-view>