<ion-view title="Question 2" id="page21">
  <ion-content padding="true" class="has-header">
    <h4 id="question2-heading18" style="color:#00859B;font-weight:600;">2. Who wants to be a millionaire?</h4>
    <form id="question2-form2" class="list">
      <ion-checkbox id="question2-checkbox5">I do</ion-checkbox>
      <ion-checkbox id="question2-checkbox6">He does</ion-checkbox>
      <ion-checkbox id="question2-checkbox7">She does</ion-checkbox>
      <ion-checkbox id="question2-checkbox8">Not me, money corrupts</ion-checkbox>
    </form>
    <button id="question2-button24" class="button button-energized  button-block">Check answer</button>
    <div id="question2-markdown14" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:22px;">You're
        <strong>right/wrong</strong>.</p>
    </div>
    <a ui-sref="question3" id="question2-button25" class="button button-energized  button-block">Next question</a>
    <div id="question2-markdown15" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:17px;">Score: 1</p>
    </div>
  </ion-content>
</ion-view>