<ion-view title="Question 1" id="page13">
  <ion-content padding="true" class="has-header">
    <h4 id="question1-heading17" style="color:#00859B;font-weight:600;">1. {{question.q}}</h4>
    <form id="question1-form1" class="list">
      <ion-checkbox id="question1-checkbox1">{{answers.one}}</ion-checkbox>
      <ion-checkbox id="question1-checkbox2">{{answers.two}}</ion-checkbox>
      <ion-checkbox id="question1-checkbox3">{{answers.three}}</ion-checkbox>
      <ion-checkbox id="question1-checkbox4">{{answers.four}}</ion-checkbox>
    </form>
    <button id="question1-button23" class="button button-energized  button-block">Check answer</button>
    <div id="question1-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:22px;">You're
        <strong>right/wrong</strong>.</p>
    </div>
    <a ui-sref="question2" id="question1-button26" class="button button-energized  button-block">Next question</a>
    <div id="question1-markdown13" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:17px;">Score: 0</p>
    </div>
  </ion-content>
</ion-view>