<ion-view title="Question 4" id="page23">
  <ion-content padding="true" class="has-header">
    <h4 id="question4-heading20" style="color:#00859B;font-weight:600;">4. How many guards did the ShaoXi Buddha have?</h4>
    <form id="question4-form4" class="list">
      <ion-checkbox id="question4-checkbox13">4</ion-checkbox>
      <ion-checkbox id="question4-checkbox14">8</ion-checkbox>
      <ion-checkbox id="question4-checkbox15">16</ion-checkbox>
      <ion-checkbox id="question4-checkbox16">Army of 5000</ion-checkbox>
    </form>
    <button id="question4-button29" class="button button-energized  button-block">Check answer</button>
    <div id="question4-markdown18" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:22px;">You're
        <strong>right/wrong</strong>.</p>
    </div>
    <a ui-sref="endOfQuiz" id="question4-button30" class="button button-energized  button-block">Finish</a>
    <div id="question4-markdown19" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:17px;">Score: 3</p>
    </div>
  </ion-content>
</ion-view>