<ion-view title="Question 3" id="page22">
  <ion-content padding="true" class="has-header">
    <h4 id="question3-heading19" style="color:#00859B;font-weight:600;">3. Where is SOAS?</h4>
    <form id="question3-form3" class="list">
      <ion-checkbox id="question3-checkbox9">Africa</ion-checkbox>
      <ion-checkbox id="question3-checkbox10">China</ion-checkbox>
      <ion-checkbox id="question3-checkbox11">London</ion-checkbox>
      <ion-checkbox id="question3-checkbox12">In the ether</ion-checkbox>
    </form>
    <button id="question3-button27" class="button button-energized  button-block">Check answer</button>
    <div id="question3-markdown16" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:22px;">You're
        <strong>right/wrong</strong>.</p>
    </div>
    <a ui-sref="question4" id="question3-button28" class="button button-energized  button-block">Next question</a>
    <div id="question3-markdown17" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:17px;">Score: 2</p>
    </div>
  </ion-content>
</ion-view>