<ion-view title="ShaoXi'Buddha - More" id="page28">
  <ion-content padding="true" class="has-header">
    <div id="shaoXiBuddhaMore-button-bar6" class="button-bar">
      <a ui-sref="shaoXiBuddha" id="shaoXiBuddhaMore-button33" class="button button-stable button-small button-block">Description</a>
      <a ui-sref="shaoXiBuddhaAudio" id="shaoXiBuddhaMore-button34" class="button button-stable button-small button-block">Audio</a>
      <button id="shaoXiBuddhaMore-button35" class="button button-energized button-small button-block">More</button>
    </div>
    <h3 id="shaoXiBuddhaMore-heading13" style="color:#00859B;font-weight:600;">ShaoXi' Buddha Shanghai</h3>
    <div id="shaoXiBuddhaMore-markdown35" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Standing Buddha, carved in grey schist, fromt he ShaoXi' period.</p>
    </div>
    <div ng-init="videourl=&quot;https://www.youtube.com/embed/https://www.youtube.com/watch?v=IwzFOf9eilQ?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="shaoXiBuddhaMore-video1">
      <iframe src="{{videourl}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <h3 id="shaoXiBuddhaMore-heading24" style="color:#63666A;">More on this</h3>
    <p>
      <a href="https://www.soas.ac.uk/gallery/embroidered-tales/">SOAS music collection</a>
      <br>
      <a href="http://www.w3schools.com/html/">Visit our HTML tutorial</a>
      <br>
    </p>
  </ion-content>
</ion-view>