<ion-view title="Snow Dome Audio" id="page29">
  <ion-content padding="true" class="has-header">
    <div id="snowDomeAudio-button-bar7" class="button-bar">
      <a ui-sref="shaoXiBuddha" id="snowDomeAudio-button36" class="button button-stable button-small button-block">Description</a>
      <a ui-sref="shaoXiBuddha" id="snowDomeAudio-button37" class="button button-energized button-small button-block">Audio</a>
      <a ui-sref="snowDomeMore" id="snowDomeAudio-button38" class="button button-stable button-small button-block">More</a>
    </div>
    <h3 id="snowDomeAudio-heading25" style="color:#00859B;font-weight:600;">Snow Dome</h3>
    <div id="snowDomeAudio-markdown36" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Hong Ling, 2002</p>
    </div>
    <div>
      <img src="img/uVTbcf0dRIaEq80TnWod_Bildschirmfoto2016-11-06um14.05.46.png" style="display: block; width: auto; height: 150px; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="snowDomeAudio-markdown49" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Audioplayer</p>
    </div>
    <div>
      <img src="img/QJ3nMfD6TXuZo3OErJtJ_MoMA-AudioPlayerKopie.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>