<ion-view title="Snow Dome" id="page15">
  <ion-content padding="true" class="has-header">
    <div id="snowDome-button-bar2" class="button-bar">
      <button id="snowDome-button8" class="button button-energized button-small button-block">Description</button>
      <a ui-sref="snowDomeAudio" id="snowDome-button9" class="button button-stable button-small button-block">Audio</a>
      <a ui-sref="snowDomeMore" id="snowDome-button10" class="button button-stable button-small button-block">More</a>
    </div>
    <a ui-sref="currentExhibition1" id="snowDome-button59" class="button button-energized button-small button-block icon-left ion-android-arrow-back">Back to exhibition page</a>
    <h3 id="snowDome-heading8" style="color:#00859B;font-weight:600;">Snow Dome</h3>
    <div id="snowDome-markdown27" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Hong Ling, 2002</p>
    </div>
    <div>
      <img src="img/uVTbcf0dRIaEq80TnWod_Bildschirmfoto2016-11-06um14.05.46.png" style="display: block; width: auto; height: 150px; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div id="snowDome-markdown28" class="show-list-numbers-and-dots">
      <p style="color:#000000;">From its origins in Finsbury Circus as the School of Oriental Studies in 1916 to the School of Oriental and African Studies in Bloomsbury, SOAS became a vital centre for language tuition through two world wars, contributing essential work Ikat is
        a specialized dyeing technique. The textiles on display have recorded a wonderful vernacular art, as Embroidered Tales, told by women story tellers - who were, guardians of their customs and traditions, for their individual tribes, castes and
        communities.</p>
    </div>
  </ion-content>
</ion-view>