<ion-view title="The Tools of the Trade" id="page17">
  <ion-content padding="true" class="has-header">
    <div id="theToolsOfTheTrade-button-bar4" class="button-bar">
      <button id="theToolsOfTheTrade-button14" class="button button-energized button-small button-block">Description</button>
      <button id="theToolsOfTheTrade-button15" class="button button-stable button-small button-block">Audio</button>
      <button id="theToolsOfTheTrade-button16" class="button button-stable button-small button-block">More</button>
    </div>
    <h3 id="theToolsOfTheTrade-heading10" style="color:#00859B;font-weight:600;">The Tools of the Trade</h3>
    <div id="theToolsOfTheTrade-markdown31" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Wood workings from Asia in the 19th Century</p>
    </div>
    <div>
      <img src="img/WRzuW95uQIy8OtAiwNpm_Bildschirmfoto2016-11-06um15.05.06.png" style="display: block; width: auto; height: 150px; margin-left: auto; margin-right: auto;">
    </div>
    <div id="theToolsOfTheTrade-markdown32" class="show-list-numbers-and-dots">
      <p style="color:#000000;">From its origins in Finsbury Circus as the School of Oriental Studies in 1916 to the School of Oriental and African Studies in Bloomsbury, SOAS became a vital centre for language tuition through two world wars, contributing essential work Ikat is
        a specialized dyeing technique. The textiles on display have recorded a wonderful vernacular art, as Embroidered Tales, told by women story tellers - who were, guardians of their customs and traditions, for their individual tribes, castes and
        communities.</p>
    </div>
  </ion-content>
</ion-view>